:root {
    --background: #0f0f0f;
    --white: #f0f0f0;
    --magenta: #e0287d;
    --blue: #1bc7fb;
    --green: #1bfb40;
    --menu-item: 3rem;
}

body {
    background-color: var(--background);
    color: var(--white);
    padding: 0;
    margin: 0;
}

.menu {
    height: 100vh;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
}

.menu-item {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 5rem;
    border: solid .5rem white;
    font-size: var(--menu-item);
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform .1s ease-out 100ms, box-shadow .1s ease-out 100ms;
}

.menu-item:hover {
    box-shadow: 0px 0px 1rem var(--white);
    transform: scale(1.07);
}